.app {
  background-color: #ddd;
}
.input {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-bottom: 10px;
}
.todo {
  display: flex;
  justify-content: center;
  flex: 1;
}
.todo > div {
  border: 1px solid green;
  width: 300px;
  height: 450px;
  text-align: center;
  padding: 5px;
  overflow-y: scroll;
}
.todo > div > span {
  display: block;
  background-color: rgb(110, 90, 120);
  color: white;
  padding: 5px;
}
.card {
  padding: 5px;
  margin: 5px;
  color: white;
  cursor: pointer;
}
.in-todo {
  background-color: navy;
}
.progress {
  background-color: burlywood;
}
.done {
  background-color: green;
}
.text {
  width: 300px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
}
.add {
  width: 100px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}
